html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    padding: 0px;
    margin: 0px;
}
h1 {
    color: rgb(190, 54, 150);
}
.tarjetas-contacto {
    padding: 0px 68px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tarjetas-contacto li {
    list-style: none;
    background-color: rgb(233, 233, 233);
    width: 100%;
    margin-bottom: 12px;
    padding: 24px 12px;
    border-radius: 14px;
}
.tarjetas-contacto li h5 {
    margin: 0px;
}

.Comentarios{
    margin: 10% 50%;
    padding: 28px;
    border-radius: 12px;
    border-color: rgb(163, 112, 211);
}
.Comentarios a {
    font-size: 23px;
    text-decoration: none;
    color: rgb(113, 68, 156);
}