html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    padding: 0px;
    margin: 0px;
}
h1 {
    color: rgb(190, 54, 150);
    margin: 1% 45%;
    font-size: 48px;
}
h2 {
    color: rgb(109, 58, 156);
    margin: 1% 45%;
    font-size: 44px;

}
.tarjetas-contacto {
    padding: 5px 5px;
    width: 50%;
    margin: 0% 35%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
}
.tarjetas-contacto li {
    list-style: none;
    background-color: rgb(233, 233, 233);
    width: 70%;
    margin-bottom: 18px;
    padding: 24px 122px;
    border-radius: 14px;
}
.tarjetas-contacto li h3 {
    margin: 0% 10%;
    font-size: 48px;
    color: rgb(153, 17, 119);
}
.tarjetas-contacto li img {
    padding: 24px 12px;
    margin: 2% 5%;
}

